<a href="/" class="flex items-center link-hover">
  <span class="text-yellow-400 font-extrabold text-4xl -mr-2 md:hidden">!</span>
  <img
    src="/src/assets/logo.svg"
    alt="Logo del sitio web, guacamaya de colores rojo, azul, amarrilo y negro"
    width="50"
    height="50"
  />
  <h1 class="hidden md:block text-2xl text-verde-100 logo">
    <span class="text-yellow-400 font-extrabold text-3xl">!</span>
    Ruta Improvisada
  </h1>
</a>
