---
const { classText, classSpan } = Astro.props;
---

<p class=`hidden md:block text-verde-100 logo ${classText}`>
  <span class=`text-yellow-400 font-extrabold ${classSpan}`>!</span>Ruta Improvisada
</p>
