---
import LogoTexto from './LogoTexto.astro';
---

<a href="/" class="flex items-center link-hover">
  <span class="text-yellow-400 font-extrabold text-4xl -mr-2 md:hidden">!</span>
  <img
    src="/src/assets/logo.svg"
    alt="Logo del sitio web, guacamaya de colores rojo, azul, amarrilo y negro"
    width="50"
    height="50"
  />
  <LogoTexto classText="text-2xl" classSpan="text-3xl" />
</a>
