---
const linksDesktop = [
  { name: 'Inicio', href: '/' },
  { name: 'Blog', href: '/blog' },
  { name: 'Sobre Nosotros', href: '/about' },
];
---

<nav class="hidden md:flex gap-8">
  {
    linksDesktop.map((enlace) => (
      <a class="link-hover" href={enlace.href} aria-label={enlace.name}>
        {enlace.name}
      </a>
    ))
  }
</nav>
