<nav class="flex md:hidden gap-4">
  <a class="link-hover" href="/" aria-label="Inicio"> Inicio </a>
  <a class="link-hover" href="/blog" aria-label="blog"> Blog </a>
  <a class="link-hover" href="/about" aria-label="about"> Nostros </a>
  <a href=""></a>
</nav>
