---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allposts = await Astro.glob('../pages/municipios/*.md');
---

<BaseLayout
  title="Blog"
  description="Explora rutas reales por Colombia, descubre pueblos mágicos, su cultura, gastronomía y gente berraca."
>
  <p>Desde BLOG</p>
  <ul>
    {allposts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
