---
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPost from '@/components/BlogPost.astro';
import { getCollection } from 'astro:content';

const municipios = await getCollection('municipios');
---

<BaseLayout
  title="Blog 2"
  description="Explora rutas reales por Colombia, descubre pueblos mágicos, su cultura, gastronomía y gente berraca."
>
  <p>Desde BLOG</p>
  <ul>
    {municipios.map((municipio) => <BlogPost url={`/municipios/${municipio.slug}`} title={municipio.data.title} />)}
  </ul>
</BaseLayout>
