---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout
  title="Inicio"
  description="Explora rutas reales por Colombia, descubre pueblos mágicos, su cultura, gastronomía y gente berraca."
>
  <p>Explora rutas reales por Colombia, descubre pueblos mágicos, su cultura, gastronomía y gente berraca.</p>
</BaseLayout>
