---
import Logo from '@/components/branding/Logo.astro';
import NavDesktop from '@/components/navigation/NavDesktop.astro';
import NavMobile from '@/components/navigation/NavMobile.astro';
---

<header class="bg-gray-900 py-4 sticky top-0">
  <div class="container-blog flex justify-between items-center">
    <Logo />
    <NavDesktop />
    <NavMobile />
  </div>
</header>
